:host {
    display: block;
    width: 100%;
    button {
        width: 100%;
        height: 48px;
        div {
            width: 100%;
            height: 48px;
            padding-top: 8px;
            display: flex;
            vertical-align: middle;
            
            span {
                flex: 1 1 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                text-align: start;
                margin-left: 8px;
            }

            mat-icon {
                padding-top: 4px;
                transition: transform .35s ease;
                &.expander-icon.opened {
                    transform: rotate(180deg) translateY(-6px);
                }
            }
        }
    }

    .pip-location-container {
        height: 0;
        transition: height .35s ease;
        &.opened {
            height: 150px;
        }
    }
}